html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/****Main banner****/
.main-banner {
  background-image: url("../images/glasses-bg.png");
}

/****Logo****/
.logo {
  background-color: cadetblue;
  display: flex;
}
