html {
  font-size: 18px;

}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/***Remove when done****/

div {
  border: 1px solid black;
}

/****Main banner****/
.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

/****Logo****/
.logo-container {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
}

.logo-container span {
  font-size: 1rem;
  color: white;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo span {
  padding: 1rem;
}

nav span {
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a:link {
    text-decoration: none;
    color: white;
}

.banner-content {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  /*right: 100%;*/
}

.banner-content span {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/****Services****/
.services {
  display: flex;
  justify-content: center;
}

.service {
  width: 5rem;
  margin: 3rem;

}

.exams-image img {
  width: 3.5rem;
}

.fittings-image img {
  width: 5rem;
}

.delivery-image img {
  width: 5rem;
}

.image {
  height: 8rem;
}

/****Philosphy and Appointments section****/
.philo-appts {
  display: flex;
}

.contents-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.content-tag {
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
}

.philo {
  margin-right: 5%;
}

.content {
  margin-top: 1rem;
}

/****Footer****/
.footer-content {
  background-color: azure;
  display: flex;
  align-items: center;
}

.footer-content img {
  height: 1.5rem;
  padding-top: 4rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}
